<div id="contact-main-div" class="background-image">
  <h1 class="header-contact">Contact Us</h1>
  <div class="map-div">
    <agm-map class="map" [zoom]="zoom" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
  <div class="contact-address-table-div">
    <table class="contact-address-table">
      <tr class="contact-table-address">
        <td>Email:</td>
        <td><a href="mailto:gracjan.luk@gmail.com">gracjan.luk@gmail.com</a></td>
      </tr>
      <tr class="contact-table-address">
        <td>Phone:</td>
        <td>793 789 233</td>
      </tr>
      <tr class="contact-table-address-street">
        <td>Address:</td>
        <td>
          Aleja Stanów Zjednoczonych 68
        </td>
      </tr>
      <tr class="contact-table-address-street">
        <td></td>
        <td>03-965 Warsaw</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="contact-hours-table-div">
    <table class="contact-hours-table">
      <tr>
        <th class="hours-table-head">Hours</th>
      </tr>
      <tr>
        <td>Monday:</td>
        <td>12:00 - 22:00</td>
      </tr>
      <tr>
        <td>Tuesday:</td>
        <td>12:00 - 22:00</td>
      </tr>
      <tr>
        <td>Wednesday:</td>
        <td>12:00 - 22:00</td>
      </tr>
      <tr>
        <td>Thursday:</td>
        <td>12:00 - 22:00</td>
      </tr>
      <tr>
        <td>Friday:</td>
        <td>12:00 - 24:00</td>
      </tr>
      <tr>
        <td>Saturday:</td>
        <td>14:00 - 24:00</td>
      </tr>
      <tr>
        <td>Sunday:</td>
        <td>14:00 - 22:00</td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <p>
      2021 Gracjan Łukaszewicz<br>
      github.com/Glukasze
    </p>
  </div>
</div>
