.background-image {
  background-image: url("https://images.pexels.com/photos/3847486/pexels-photo-3847486.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.header-contact {
  border: none;
  background-color: transparent;
  padding-bottom: 50px;
  font-family: Papyrus, fantasy;
  font-weight: bold;
  font-size: 55px;
  color: #a24848;
  position: relative;
  left: 37%;
  top: 7%;
  width: 100vh;
}

.map {
  height: 60vh;
  width: 80vh;
  position: relative;
  top: 60px;
  left: 30px;
}

.contact-table-div {
  position: relative;
  left: 50%;
  bottom: 53%;
  width: 500px;
}

.contact-table {
  width: 100%;
}

.contact-table-address {
  height: 40px;
}

.contact-table-address-street {
  height: 2px;
}

.map-div {
  width: 60vh;
}

.footer {
  position: absolute;
  right: 100px;
  font-weight: lighter;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}
