.background-image {
  background-image: url("https://images.pexels.com/photos/3847486/pexels-photo-3847486.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 100%;
}
