<div class="order-page-sidepanel-div">
  <div class="order-page-sidepanel-heading">
    <h3>Your order</h3>
  </div>
  <div class="order-page-sidepanel-items">
    <ul *ngFor="let pizza of selectedPizzas">
      <li>
        <p class="individual-pizza-name">
          {{ pizza.productName }}
        </p>
        <p class="individual-pizza-price">
          $ {{ pizza.price }}
          <button class="trash-button" type="button" (click)="removePizza(pizza)"><i class="fa fa-trash-o trash-icon"></i></button>
        </p>
        <p class="individual-pizza-ingredients">-{{ pizza.toppingsString}}</p>
      </li>
    </ul>
  </div>
  <div class="order-page-sidepanel-total">
    <h4>Total: $ {{ total }}</h4>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto checkout">
    <button type="button" class="btn btn-success small d-inline-block">Check out</button>
  </div>
</div>
