<div id="about-main-div" class="background-image">
  <h1 class="header-about">About Us</h1>
  <div>
    <img class="about-picture" src="https://images.pexels.com/photos/5908216/pexels-photo-5908216.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="picture of two sisters preparing pizza in their kitchen">
  </div>
  <div>
    <p class="about-paragraph">
      Welcome!<br><br>
      We are Angela and Gabriela - two Italian sisters with passion to pizza.<br>
      Since we were little we loved pizza in all shapes and sizes. This quickly became what we were known for while studying abroad and brought us many friends who always loved our food.<br>
      When we graduated the natural next step was to make it our trade so we created a cosy stand on the street corner with quick slices to grab while on the run.<br>
      This quickly evolved into a little bistro and now - thanks to yor interest - we are happy to launch a delivery option that you can access on this site!<br>
    </p>
  </div>
</div>
