<div class="order-page-menu-div">
  <div class="row mb-4">
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-light" style="width: 15rem;">
        <img class="card-img-top" src="../../../../assets/pictures/sample_pizza.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">Ingredients.</p>
          <a href="#" class="btn btn-primary">Order</a>
        </div>
      </div>
    </div>
  </div>
</div>
