.background-image {
  background-image: url("src/assets/pictures/home.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.headers-homepage {
  margin: 0;
  position: absolute;
  left: 15%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-homepage {
  border: none;
  background-color: transparent;
  padding-bottom: 50px;
  font-family: Papyrus, fantasy;
  font-weight: bold;
  font-size: 55px;
  color: #514141;
}

.header-homepage:hover {
  text-decoration: underline;
  text-decoration-thickness: 6%;
}
