<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card big-card">
        <div class="invoice p-5">
          <h5>Your order Confirmed!</h5> <span>You order has been confirmed and will be shipped in a moment!</span>
          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
              <tr>
                <td>
                  <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>12 May2021</span> </div>
                </td>
                <td>
                  <div class="py-2"> <span class="d-block text-muted">Order No</span> <span>MT12332345</span> </div>
                </td>
                <td>
                  <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span> </div>
                </td>
                <td>
                  <div class="py-2"> <span class="d-block text-muted">Shipping Address</span>M. S. Curie 12/8<br>
                    21-121 Warsaw </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="product border-bottom table-responsive">
            <table class="table table-borderless">
              <tbody>
              <tr *ngFor="let pizza of mockPizzas">
                <td width="20%"> <img src="../../../../assets/pictures/pizzas/{{ pizza.pictureId}}.jpg" width="90"> </td>
                <td width="60%"> <span class="font-weight-bold">{{ pizza.name }}</span>
                  <p class="font-italic">{{ pizza.ingredients }}</p>
                </td>
                <td width="20%">
                  <div class="text-right"> <span class="font-weight-bold">$ {{ pizza.price }}</span> </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row d-flex justify-content-end">
            <div class="col-md-5 mt-3">
              <table class="table table-borderless">
                <tbody class="totals">
                <tr>
                  <td>
                    <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                  </td>
                  <td>
                    <div class="text-right"> <span>$81</span> </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                  </td>
                  <td>
                    <div class="text-right"> <span>$8</span> </div>
                  </td>
                </tr>
                <tr class="border-top border-bottom">
                  <td>
                    <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                  </td>
                  <td>
                    <div class="text-right"> <span class="font-weight-bold">$89</span> </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p>Check your email for confirmation!</p>
          <p class="font-weight-bold mb-0">Thanks you for your order!</p> <span>Gabriela & Angela</span>
        </div>
        <div class="d-flex justify-content-center footer p-3"> <span>Need Help? Drop us an <a href="#"> email!</a></span> </div>
      </div>
    </div>
  </div>
</div>
