<nav class="navbar navbar-light order-page-navbar sticky-top p-0 navbar-custom">
  <nav class="navbar navbar-expand-lg navbar-light nav-fill w-100">
    <div class="container-fluid">
      <a class="navbar-brand ml-4"> <img class="logo-img" src="../../../../assets/pictures/sample_pizza.jpg" width="60"/> </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/order-page">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="mailto:gracjan.luk@gmail.com">Write to us</a>
          </li>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-success">Log In</button>
          <button type="button" class="btn btn-outline-warning">Register</button>
        </div>
      </div>
    </div>
  </nav>
</nav>
